* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-family: 'Francois One', sans-serif;
    

}
.background-img:{
    position:relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-img::before {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("jack-oldham-mountain-galaxy-background-1.jpg");
    opacity: .8;
    position: absolute;
    top: 0px;
    right:0px;
    bottom: 0px;
    left: 0px;
}


header {
    margin-top: auto;
}

h1 {
    color:rgb(177, 20, 85);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
    font-size: xx-large;
    padding: 20px;
    text-align: center;
    margin-top:0;
    position: relative;
    
}


.clearfix::after {
    content: ""; 
    display: block;
    clear: both;
    
}

h2 {
    color:rgb(177, 20, 85);
    font-size: 26px;
    text-align: left;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
    position: relative;
}


#bio-image,
#main-bio  {
    float: left;   
    position: relative;
}

#bio-image {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#main-bio {
    width: 50%;
    margin: 30px;
    font-size: large;
    color: rgb(177, 20, 85);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
    
}

#contact-info {
    width:30%;
    float: right;
    margin: 30px;
    font-size: large;
    color: rgb(177, 20, 85);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
    position: relative;
}

a {
    color:rgb(168, 8, 75);
    position: relative;
}
